


a{font-size: 42px;
margin: 45px;
color: azure;

}
a:hover{color: red;}
#vdo{
    margin-left: 475px;
    margin-top: 90px;
   
}
#s1{
margin-top: 100px;
margin-left: 110px;}
#s2{
margin-top: 100px;
margin-left: 225px;}
#s3{
margin-top: 100px;
margin-left: 220px;}
.s1{
    margin-top: 10px;
    margin-left: 110px;}
.s2{
    margin-top: -24px;
    margin-left: 615px;}
.s3{
    margin-top: -24px;
    margin-left: 1114px;}


    

